@font-face {
  font-family: 'rb-b';
  src: url("../fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: 'rb-m';
  src: url("../fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: 'rb-r';
  src: url("../fonts/Rubik-Regular.ttf");
}